<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641701045991-42ssmv79gmbhgbk791bl562lljn52s8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641701045991-42ssmv79gmbhgbk791bl562lljn52s8f</string>
	<key>API_KEY</key>
	<string>AIzaSyD87_ZC_aPzgzv204SF4nrDpnEZXmq8Ihc</string>
	<key>GCM_SENDER_ID</key>
	<string>641701045991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techdome</string>
	<key>PROJECT_ID</key>
	<string>techdome-e35e6</string>
	<key>STORAGE_BUCKET</key>
	<string>techdome-e35e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641701045991:ios:6a11329f295e277b146442</string>
</dict>
</plist>